/**
 * Gallery section styles
 *
 * Start all rules with .section-gallery
 */
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.section-gallery h1 {
  color: white;
}
.section-gallery p {
  color: white;
}

.section-gallery {
  background: #591603;
}

.section-intro h1 {
font-family: Droid+Sans, sans-serif;
font-size: 50px;
margin: auto;
}
.section-intro p {
  font-family: Poppins, sans-serif;
  font-size: 75px:
  margin: auto;
}

.newyork_gallery {
  list-style-type:none;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 75%;
  color: #FCF3E4;
  font-family: "cursiveariel";
}
.newyork_gallery li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px;
  margin: 5px;
  background-color: black;
}
.newyork_gallery li:hover {
background-color: #F4B905;
filter: contrast(125%);
transform: scale(1.5);
}
.newyork_gallery figcaption {
  padding: 10px;
}
