/**
 * Intro section styles
 *
 * Start all rules with .section-intro
 */
 :root{
   --type:#FFFFFF;
 }
 .section-about{
background:#4C0400
 }
 @import url('https://fonts.googleapis.com/css?family=Nunito');
.project-about{
  color:var(--type);
  font-size:23px;
  font-family: "Nunito";
}
p.about{
  color:var(--type)
}
