/**
 * Intro section styles
 *
 * Start all rules with .section-intro
 */
@import url('https://fonts.googleapis.com/css?family=Oswald');
.section-intro {
  background: #F2A20A;
}
.section-intro h1 {
  font-family: Oswald, sans-serif;
  font-size: 50px;
  margin: auto;
}
.section-intro img {width: inherit%;
  border-style:outset;
  border-radius:1%;
  border-color:black;}
 :root{
   --type:#FFFFFF;
 }
 .section-about{
   background:#4C0400;
 }

 @import url('https://fonts.googleapis.com/css?family=Nunito');

.project-about{
  color:var(--type);
  font-size:23px;
  font-family: "Nunito", sans-serif;
}

p.about{
  color:var(--type);
}
