  /**
 * Wishlist section styles
 *
 * Start all rules with .section-wishlist
 */
.section-wishlist{
  background:#C25D05
}
li{
  color:#FFFFFF;
}
.pinapple {
  color:#FFFFFF;
  text-decoration: underline
}
